* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

main {
  margin: 2rem 4rem;
  padding: 1rem;
  height: auto;
}

.AuthMain{
  margin: 5rem !important;
  padding: 2rem !important;
}

.AuthMainDiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: antiquewhite;
  box-shadow: 12px 10px 10px rgba(0, 0, 0, 0.1);
  border: 1px solid gray;
  border-radius: 8px;
}

.authDiv {
  flex: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.AuthContainer {
  flex: 1;
  max-width: 500px;
  margin: 2rem;
  padding: 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  background-color: white;
  border: 1px solid gray;
  border-radius: 8px;
}

.authImg{
  width: 100% !important;
  height: 100% !important;
  object-fit:contain;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.authinput {
  width: 100%;
  max-width: 300px;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid grey;
  box-sizing: border-box;
  cursor: pointer;
}

.authinput:hover {
  border: 1px solid black;
}

.authinput:focus {
  outline: none;
  border: 1.5px solid black;
}

.authButton {
  width: 100%;
  max-width: 300px;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid grey;
  background-color: antiquewhite;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

.authButton:hover {
  background-color: lightgray;
}

@media screen and (min-width: 300px) and (max-width: 600px) {
  /* main {
      margin: 1rem 2rem;
    } */
  .AuthMain {
    margin: 0.5rem !important;
    padding: 1rem !important;
  }

  .authDiv {
  display: none;
}

.AuthContainer {
  flex: 1;
  max-width: 500px;
  margin: 1.5rem;
  padding: 1rem;
}

}
