.HeaderDiv{
    display: flex;
    justify-content: center;
    padding: 1rem 0;
    background-color: #efb0b0;
    box-shadow: 0 0 10px black;
}

.InternalHeaderDiv{
    display: flex;
    align-items: center;
    gap: 2rem;
}

.HeaderIcon{
    width: 50px;
    height: 50px;
}


.HeaderLink{
    text-decoration: none;
    color: black;
}
