.FeedbackMainContanier{
    padding: 2rem 4rem;
}

.Container1{
    margin: 2rem 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 2rem;
    background-color: wheat;
    padding: 3rem;
    border: 2px solid gray;
    border-radius: 1rem;
    box-shadow: 4px 4px 8px black;
}

.Container1Img1{
    object-fit: contain;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.Container1Details{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 1rem;

    p{
        font-size: x-large;
        font-weight: 800;
        line-height: 3rem;
        color: rgb(67, 66, 66);
    }

    h5{
        font-size: xx-large;
        font-weight: bold;
        color: white;
    }
}

.Container2{
    margin: 2rem 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row-reverse;
    gap: 2rem;
    background-color: wheat;
    padding: 3rem;
    border: 2px solid gray;
    border-radius: 1rem;
    box-shadow: 4px 4px 8px black;
}